@import '../../styles-variables';

.container {
  margin-top: 20px;
}
.teacher-data {
  width: 100%;
}
.mat-card{
  margin-bottom: 3px;
}
.mat-card-title{
  font-size: 26px;
  font-weight: bold;
}
.teacher-data{
  margin-bottom: 20px;
}