<div class="container">
  <div class="month">
    <ul>
      <li class="prev">
        <button mat-raised-button (click)="monthTran(-1)">&#10094;</button>
      </li>
      <li class="next">
        <button mat-raised-button (click)="monthTran(1)">&#10095;</button>
      </li>
      <li>
        {{ monthString }}<br>
        <span style="font-size:18px">{{ year }}</span>
      </li>
    </ul>
  </div>
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="week">
      <th mat-header-cell *matHeaderCellDef> Week </th>
      <td mat-cell *matCellDef="let element"> {{element.week}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="week1">
      <th mat-header-cell *matHeaderCellDef> Sun </th>
      <td mat-cell *matCellDef="let element"> {{element.week1}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="week2">
      <th mat-header-cell *matHeaderCellDef> Mon </th>
      <td mat-cell *matCellDef="let element"> {{element.week2}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="week3">
      <th mat-header-cell *matHeaderCellDef> Tue </th>
      <td mat-cell *matCellDef="let element"> {{element.week3}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="week4">
      <th mat-header-cell *matHeaderCellDef> Wed </th>
      <td mat-cell *matCellDef="let element"> {{element.week4}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="week5">
      <th mat-header-cell *matHeaderCellDef> Thu </th>
      <td mat-cell *matCellDef="let element"> {{element.week5}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="week6">
      <th mat-header-cell *matHeaderCellDef> Fri </th>
      <td mat-cell *matCellDef="let element"> {{element.week6}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="week7">
      <th mat-header-cell *matHeaderCellDef> Sat </th>
      <td mat-cell *matCellDef="let element"> {{element.week7}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!--
  <table border="1">
    <thead>
      <tr>
        <th>Week</th>
        <th style="font-weight: 600;" *ngFor="let ws of weekStrings">
          {{ ws }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mr of monthRows">
        <td>1</td>
        <td *ngFor="let mc of monthCols">
          <div class="eachDate">
            {{ ((mr * 7 + mc - monthStartDay) <= monthEnd) ? (((mr * 7 + mc - monthStartDay) > 0) ? (mr * 7 + mc - monthStartDay) : '&nbsp;') : '&nbsp;' }}
          </div>
          <div>
            <p>a</p>
            <p>b</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
