@import '../../styles-variables';

.container {
  margin-top: 20px;
}

.month {
  padding: 20px 25px;
  width: 100%;
  background: #03a9f4;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.month button{
  min-width: 40px;
}
.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

table {
  width: 100%;
  th, td{
    width: 12.5%;
  }
}


.day_buttons {
  background: #EEEEEE;
}
.period, .class_name {
  width: 100%;
}
.class_name{
  font-size: 16px;
  font-weight: 600;
}
/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {
    width: 12.5%;
  }

  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {
    width: 12.2%;
  }
}

